In [1]:
import pymongo

In [2]:
MyClient = pymongo.MongoClient('mongodb://localhost:27017/')

In [5]:
database= MyClient['DemoDB']

In [6]:
DemoDB = {'name':'sourabh','data':'434983948','sirName':'yeshal'}

In [7]:
database = MyClient['DemoDB']

In [10]:
print(DemoDB)

{'name': 'sourabh', 'data': '434983948', 'sirName': 'yeshal'}

In [12]:
dbcol = database['name']

In [30]:
database.name

'DemoDB'

In [29]:
collist = database.list_collection_names()

In [13]:
DemoDB

{'name': 'sourabh', 'data': '434983948', 'sirName': 'yeshal'}

# This is new program which is add in one program. Name: Mydatabase

In [82]:
import pymongo
MyClient = pymongo.MongoClient('mongodb://localhost:27017/')
dbase = MyClient['Mydatabase']
mycol = dbase['Customer']

# mydict = {'name':'sourabh','address':'Luxminarayan Pura Jalna','contach':'7372885148'}
# mydict1 = {'name':'sakshi','address':'nariman nagar','contach':'123456789'}
# x = mycol.insert_one(mydict1)
# print(x)

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

BulkWriteError: batch op errors occurred

In [59]:
print(x.inserted_ids)

[ObjectId('5e93197e599b70ff4f9f2c45'), ObjectId('5e93197e599b70ff4f9f2c46'), ObjectId('5e93197e599b70ff4f9f2c47'), ObjectId('5e93197e599b70ff4f9f2c48'), ObjectId('5e93197e599b70ff4f9f2c49'), ObjectId('5e93197e599b70ff4f9f2c4a'), ObjectId('5e93197e599b70ff4f9f2c4b'), ObjectId('5e93197e599b70ff4f9f2c4c'), ObjectId('5e93197e599b70ff4f9f2c4d'), ObjectId('5e93197e599b70ff4f9f2c4e'), ObjectId('5e93197e599b70ff4f9f2c4f'), ObjectId('5e93197e599b70ff4f9f2c50')]

In [73]:
# y = mycol.list_collection_names()
# if 'customer' in y:
#     print('exits')
# else: 
#     print('not exits')
dblist = MyClient.list_database_names()
 
if 'Mydatabase' in dblist:
    print('the database is available')
else:
    print('this database is not available')

the database is available

In [1]:
import pymongo
MyClient = pymongo.MongoClient('mongodb://localhost:27017/')
NewDatabase = MyClient['DummyProgramData']
NewCol = NewDatabase['RowData']

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = NewCol.insert_many(mylist)

In [7]:
dbbase = MyClient.list_database_names()
if 'DummyProgramData' in dbbase:
    print('the database is available')
else:
    print('the database is not available')

the database is available

# To Check the Column is available or not by if condition

In [ ]:
dbcol = NewDatabase.list_collection_names()
if 'RowData' in dbcol:
    print('The column is available.')
else: 
    print('The column is not available')

In [15]:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# To Select the first row the data in column.

In [21]:
y = NewCol.find_one()
print(y)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [24]:
for n in NewCol.find({},{"_id": 0, "name": 1, "address": 1 }):
    print(n)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [37]:
for n in NewCol.find({},{"_id": 1,"address":1}):
    print(n)

{'_id': 1, 'address': 'Highway 37'}
{'_id': 2, 'address': 'Lowstreet 27'}
{'_id': 3, 'address': 'Apple st 652'}
{'_id': 4, 'address': 'Mountain 21'}
{'_id': 5, 'address': 'Valley 345'}
{'_id': 6, 'address': 'Ocean blvd 2'}
{'_id': 7, 'address': 'Green Grass 1'}
{'_id': 8, 'address': 'Sky st 331'}
{'_id': 9, 'address': 'One way 98'}
{'_id': 10, 'address': 'Yellow Garden 2'}
{'_id': 11, 'address': 'Park Lane 38'}
{'_id': 12, 'address': 'Central st 954'}
{'_id': 13, 'address': 'Main Road 989'}
{'_id': 14, 'address': 'Sideway 1633'}

In [39]:
for n in NewCol.find({},{"name":1}):
    print(n)

{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

# this is quary means to find the specific data(row) into the database

In [44]:
myQuary = {'_id': 12, 'name': 'William'}
myDoc = NewCol.find(myQuary)
for s in myDoc:
    print(s)

{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [46]:
myQuary = {"address":{"$lt":"S"}}
myDoc = NewCol.find(myQuary)
for s in myDoc:
    print(s)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}

# Use regular exprassion for searching data into the database.

In [51]:
myQuary = {"address":{"$regex":"^V"}}
myDoc = NewCol.find(myQuary)
for s in myDoc:
    print(s)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

# Sort the data by find() method.

In [73]:
mydoc = NewCol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [95]:
mydoc = NewCol.find().sort("address",-1)

for x in mydoc:
  print(x)

{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

# To delete one document from database file.

In [83]:
myqoura = {'_id': 1, 'name': 'John', 'address': 'Highway 37'}

NewCol.delete_one(myqoura)

In [107]:
myqoura = { "address":{"$regex": "^V"}}

In [108]:
nk = NewCol.delete_many(myqoura)
print(nk.deleted_count,"document deleted")

1 document deleted

# update the data by update_one() function or update_many()

In [129]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in NewCol.find():
  print(x)

{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 6, 'name': 'Sandy', 'address': 'Luxminarayan Pura'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}

# To Limit the data into the MongoDB, use limit() function.

In [130]:
myresult = NewCol.find().limit(5)

for x in myresult:
    print(x)

{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 6, 'name': 'Sandy', 'address': 'Luxminarayan Pura'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}